body {
	background: transparent url(../img/background.jpg) no-repeat 50% 50%;
}


.container .icons #mail{
	background: transparent url(../img/mail.png) no-repeat;
}	

.container .icons #linkedin{
	background: transparent url(../img/linkedin.png) no-repeat;
}	

.container .icons #twitter{
	background: transparent url(../img/twitter.png) no-repeat;
}	