/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    height: 100%;
}

body {
    font-size: 1em;
    line-height: 1.4;
	background: url(../img/background_pattern.png), url(../img/background.jpg) 50% 50% no-repeat;
	-webkit-background-size: 3px 3px, cover;
	-moz-background-size: 3px 3px, cover;
	-o-background-size: 3px 3px, cover;
	background-size: 3px 3px, cover;
	background-attachment: fixed;
	height: 100%;
	overflow:hidden;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container{
	height: 100%;
	width: 100%;
	text-align: center;
	color:#fffea7;
	font-family: "pt sans",sans-serif;
	text-align: center;
	position: absolute;
}


.content{
	height: 400px;
	position: relative;
	top:50%;
	margin-top: -200px;
}

.container .icons{
	position: absolute;
	bottom: 80px;
	text-align: center;
	width: 180px;
	left: 50%;
	margin-left: -90px;
	
}

.container .icons #mail{
	height: 40px;
	display: block;
	width: 40px;
	background-image: url(../img/mail.svg), none;
	background-position: 0px 0px;
	float:left;
	margin: 0px 10px;
}	

.container .icons #linkedin{
	height: 40px;
	display: block;
	width: 40px;
	background-image: url(../img/linkedin.svg), none;
	background-position: 0px 0px;
	float:left;
	margin: 0px 10px;
}	

.container .icons #twitter{
	height: 40px;
	display: block;
	width: 40px;
	background-image: url(../img/twitter.svg), none;
	background-position: 0px 0px;
	float:left;
	margin: 0px 10px;
}	

.container .name{
	font-size: 104px;
	color:white;
	font-weight: bold;
	line-height: 80px;
	margin-top: 30px;
}

.container .short{
	font-size: 30px;
	margin-top: 20px;

}

.item{
    margin: 10px 0px;
    padding:10px;
    border:1px solid #eee;
    
}

table.item td{
    padding:0px;
    line-height: 24px;
    font-size: 14px;
}
    
a:link{color:#fffea7;}

a:hover{color:#fff}

a:visited{color:#fffea7;}


h4{
	font-size: 20px;
	margin: 0px;
}

span{
    color:#b30068;         
}
 
ul{
	line-height: 1.5em;
    margin-top:0px;
    margin-left: 0px;
    padding-left: 20px;
}

.project{
	padding:0px;
	padding-left:30px;
	width: 960px;
	
	margin: 100px auto 200px auto;
}

.project figure{
	border-left:0px;
	float:left;
	margin: 0px;
	padding: 0px;
	width: 750px;
}

.project figure a{
	float:left;
}

.project figure img{
	width: 720px;
}

.project .content{
	float:left;
	width: 210px;
	margin-top: 0px;
	border: 0px;
	padding: 0px;
	text-align: left;
	font-size: 15px;
	color:white;
}





/* ==========================================================================
   Media Queries
   ========================================================================== */
   
@media screen and (max-width: 524px) {
	.container .name {
		font-size: 63px;
		line-height: 60px;
		margin-top: 10px;
	}
	
	.content{
		height: 400px;
		position: relative;
		top:50%;
		margin-top: -230px;
	}

}

@media screen and (max-height: 400px) {
	.container .name {
		font-size: 63px;
		line-height: 60px;
		margin-top: 10px;
	}
	
	.container .short{
		font-size: 20px;
		margin-top: 10px;

	}
	
	.container .icon{
		display: none;
	}
	
	.content{
		height: 200px;
		position: relative;
		top:50%;
		margin-top: -100px;
	}

}

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}